body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticket-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.ticket-container {
  position: relative;
  background-color: white;
  border-radius: 20px;
  padding: 30px 20px 60px 20px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.ticket-container::before,
.ticket-container::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #f5f5f5;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.ticket-container::before {
  left: -15px;
}

.ticket-container::after {
  right: -15px;
}

.top-cutout {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  background-color: #f5f5f5;
  border-radius: 50%;
  z-index: 1;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: calc(50% - 30px);
  background-color: white;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-top: 50px;
  margin-bottom: 10px;
}

.thin-line {
  width: 80px;
  height: 0.5px;
  background-color: #ccc;
  margin: 10px auto 15px auto;
}

.purchase-info {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.ticket-info {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

#ticket-number {
  color: #000;
  font-weight: bold;
}

.timer-container {
  background: linear-gradient(135deg, #e1f2e7, #e0f0fc);
  border-radius: 15px;
  padding: 15px 20px;
  margin-bottom: 40px;
  display: inline-flex;
  align-items: center;
  position: relative;
  text-align: left;
}

.circle {
  width: 10px;
  height: 10px;
  border: 1px solid green;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
}

.timer {
  font-size: 16px;
  color: #000;
  display: inline-block;
  margin-left: 30px;
}

.dotted-line {
  margin-top: auto;
  margin-bottom: 15px;
  display: flex;
}

.qr-code {
  width: 280px;
  height: 250px;
  margin-top: auto;
  margin-bottom: 0;
  display: flex;
  background-color: #fafafa;
  z-index: 2;
}

.footer {
  color: #999;
  font-size: 14px;
  margin-top: auto;
  position: relative;
  z-index: 2;
}

#waveCanvas {
  position: absolute;
  top: 616px; /* Начинаем от верхней части контейнера */
  left: 0;
  z-index: 3; /* Волна будет поверх контейнера билета */
  pointer-events: none; /* Отключаем взаимодействие с canvas, чтобы не мешать кликам по другим элементам */
  width: 100%; /* Сделаем ширину равной ширине контейнера */
  height: 50px;
}

.reopen-message {
  position: fixed;
  font-size: 14px;
  color: #999;
  padding: 20px 20px;
  text-align: center;
  margin-top: 30px;
  width: 100%;
  box-sizing: border-box;
}


@media (max-width: 600px) {
  .ticket-wrapper {
    max-width: 100%;
  }

  .ticket-container {
    padding: 20px 15px 60px 15px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .thin-line {
  height: 1px; 
  margin: 50px auto 20px auto;
}

  .logo {
    width: 60px;
    height: 60px;
    top: -25px;
    transform: translateX(-50%);
    left: 50%;
  }

  .header {
    font-size: 18px;
  }

   .ticket-info {
    font-size: 40px;
  }

  .purchase-info,
  .footer {
    font-size: 14px;
  }

  .footer {
    margin-top: 30px; /* Додано для опускання футера */
  }

  .qr-code {
    width: 230px;
    height: 230px;
  }

  .timer-container {
  margin: 20px auto;
  padding: 12px 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 260px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(135deg, #e1f2e7, #e0f0fc);
  border-radius: 15px;
}

  .circle {
    width: 10px;
    height: 10px;
    border: 1.5px solid green;
    background-color: transparent;
    margin-right: 10px;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  .timer {
    font-size: 16px;
    margin-left: 0;
  }

  #waveCanvas {
    position: absolute;
  top: 665px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    z-index: 3;
    pointer-events: none;
  }
  .reopen-message {
    bottom: -10px;
    font-size: 13px;
  }
}
